#contact {
    flex: 9;
    background-color: rgb(15, 15, 77);
    color: rgb(136, 167, 194);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 100px;
    border: 10px outset rgb(24, 146, 150);
    margin: 30px 50px;
  }
  
  #contact .h1-class {
    color: rgb(24, 146, 150);
    padding: 10px 0px;
    font-weight: bolder;
    font-size: 40px;
  }
  
  #contact-form {
    display: flex;
    flex-direction: column;
  }
  
  #contact-form div {
    margin-bottom: 20px;
  }
  
  #contact-form label {
    color: rgb(136, 167, 194);
    font-weight: bold;
  }
  
  #contact-form input,
  #contact-form textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #070331;
    color: rgb(136, 167, 194);
  }
  
  #contact-form textarea {
    resize: vertical;
  }
  
  #contact-form button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: rgb(24, 146, 150);
    color: #070331;
    cursor: pointer;
  }
  
  .error-text {
    color: red;
    margin-top: 5px;
  }
  

  @media (max-width: 1235px) {
    #contact {
      width: 80%;
    }
  }
  